{% extends 'blog_site_app/base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4 display-4">
                <span class="brand-name">Blog</span> Time
                <small class="lead"> Love to share!</small>
            </h1>

            <!-- Blog Post -->
            {% for post in blogpost_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Post title -->
                    <h2 class="card-title py-2">{{ post.title }}</h2>
                    <!-- Text Summary -->
                    <p class="card-text mb-2">{{ post.text | slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug %}" class="btn nav-link">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.published_date }} by
                    <span class="text-primary">{{ post.author }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}