{% extends 'blog_site_app/base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-lg-6 card mb-4 mt-3 px-3">
            <div class="card-body">
                <h1>{% block title %}
                    {{ blog_post.title }}
                    {% endblock title %}</h1>
                <div class="info d-flex justify-content-between">
                    <p class=" text-muted pb-3">{{ blog_post.author }} | {{ blog_post.published_date }} </p>
                    {% if user.is_authenticated and blog_post.author == request.user %}
                    <p class="mr-0"><a href="{% url 'edit_blog_post' blog_post.slug %}">Edit</a></p>
                    {% endif %}
                </div>
                <p class="card-text text-justify">{{ blog_post.text | safe }}</p>
            </div>
            <!-- Visible to logged-in users -->
            {% if user.is_authenticated %}
            <div class="py-3 px-5 row">
                <div class=" w-100 d-flex flex-row flex-nowrap justify-content-between align-items-center">
                    {% if isLiked.isLiked %}
                    <section class="like-section">
                        <a href="{% url 'like' blog_post.id %}"><i class="fas fa-heart border-heart" aria-hidden="true">
                                Liked</i></a>
                    </section>
                    {% else %}
                    <section class="like-section">
                        <a href="{% url 'like' blog_post.id %}"><i class="far fa-heart border-heart" aria-hidden="true">
                                Like</i></a>
                    </section>
                    {% endif %}
                    <section class="comment-section">
                        <i class="far fa-comment" aria-hidden="true"></i>
                        <a href="#comment_now" class="text-info">Comment</a>
                    </section>
                    {% if blog_post.author == request.user %}
                    <section class="remove">
                        <i class="fas fa-trash text-danger"></i>
                        <a class="pt-2 pb-3 text-center text-danger"
                            href="{% url 'blog_post_remove' blog_post.slug %}">Remove</a>
                    </section>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="comment-section col-md-4 ml-5">
            <h2 class="lead py-3">{{ comments.count }} comments
            </h2>
            {% for comment in comments %}
            <div class="comments border-bottom mb-2">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class="d-block text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
            <div class="card-body p-0">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3 id="comment_now" class="py-4">Leave a comment</h3>
                <form class="form" method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}