body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.7rem;
}

/* Navigation */
div.nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.nav-link {
  color: rgb(223, 69, 69);
  font-weight: 500;
}

.login-btn {
  color: white;
  background-color: rgba(165, 42, 42, 0.815);
  padding: 0.6rem 1.4rem;
}
.login-btn:hover,
.login-btn:focus
 {
  text-decoration: none;
  color: #fff;
  background-color: rgba(165, 42, 42, 0.959);
}
.login-btn:active
{
  background-color: brown;
  color: white;
  transition: background-color 0.1s ease-in;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
}

.brand-name {
  color: brown;
}

.post-title{
  background-color: #ffffff9a !important;
}

/*  Form formatting */
p input,
p textarea {
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 100%;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

p input:hover,
p textarea:hover,
p input:focus,
p textarea:focus {
  border-color: #c9c9c9;
}

p label {
  margin-left: 0px;
  color: rgb(36, 36, 36);
  font-weight: 400;
}

p button,
p button[type="submit"]{
  width: auto;
  padding: 9px 15px;
  background: #cccccc;
  border: 0;
  font-size: 14px;
  color: #ffffff;
}

p > input[type="file"] {
  width: 70%;
  padding: 9px 15px;
  background-color: #dfdfdf;
  border: none;
}

button.btn {
  background: brown !important;
  border: none;
  padding: 0.3rem 0.9rem !important;
}

/* 
*  Create Account Page
*/
p > span.helptext,
.form ul > li {
  font-size: 0.8rem !important;
  font-style: italic;
  color: #969600;
  padding-left: 0.4rem;
}
.form ul > li {
  list-style-type: square;
}

ul.errorlist > li {
  list-style-type: none !important;
  color: rgba(255, 0, 0, 0.747) !important;
  margin-left: -2.4rem;
  font-weight: 600;
  font-size: 0.8rem !important;
}

footer {
  margin-top: 2rem;
  background-color: rgba(172, 151, 151, 0.452);
  border-top: 0.05rem solid rgb(229, 229, 229);
}
